html, 
body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;   
}

#footer {
    position: relative;
    width: 100%;
    bottom: 0;
    height: 30px;
    text-align: center;
    letter-spacing: 3px;    
}

#hr-footer {
    display: block;
    border: 3px solid black;
}

.jumbotron {
    /* https://ascienceenthusiast.com/totally-serious-prophecy-says-the-apocalypse-will-occur-in-2019-for-real-this-time-guys/ */
    background-image: url(../image/jumbotron-img.jpg); 
    background-size: cover;
    /* border-color: black; */
    border-radius: 0 !important;
}

.jumbotron h1 {
    letter-spacing: 5px;
}

.jumbotron p {
    letter-spacing: 2px;
}

#map-first {
    margin: auto;
    height: 100%;
    width: 90%;
}

