<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Apocalypse</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- Bootstrap jQuery and Popper.js -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <!-- "Sketchy" theme from Bootswatch -->
        <link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/sketchy/bootstrap.min.css">
        <!-- Leaflet CSS & JS -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
            integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
            crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
            integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
            crossorigin=""></script>
        <!-- Plotly CDN -->
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <!-- THREE CDN -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/105/three.min.js"></script>
        <!-- Load Esri Leaflet from CDN -->
        <script src="https://unpkg.com/esri-leaflet@2.2.4/dist/esri-leaflet.js"
            integrity="sha512-tyPum7h2h36X52O2gz+Pe8z/3l+Y9S1yEUscbVs5r5aEY5dFmP1WWRY/WLLElnFHa+k1JBQZSCDGwEAnm2IxAQ=="
            crossorigin=""></script>
        <!-- Local style CSS -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <!-- Avoid fake favicon requests -->
        <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    </head>
    <body>

        <div class="container">
            <div class="row">
                <div class="col-12 text-white">
                    <h1 class="text-center mt-5 my-3">Welcome to the End of Days?</h1>
                    <p>Is it possible to see the forest through the trees? Over the past century, the rate
                        natural disasters is increasing and yet we are not panicking. This
                        project is here to help you gain some perspective. Look at the amount of earthquakes! Check
                        out the tsunamis! What about the wildfires? It's time to wake up and force ourselves to see the
                        world-ending forest through the burning trees! Don't believe us? You will be the first to fall. 
                    </p>
                </div>
            </div>
        </div>

        <div id="map"></div>
        <select>
            <option value="placeholder" selected hidden>Select a Chart</option>
            <option value="chart-disasters">Disasters by Years</option>
            <option value="chart-death">Deaths by Disasters</option>
            <option value="chart-displaced">Displaced by Disasters</option>
            <option value="chart-cost">Economic Damage by Disasters</option>
        </select>

        <div class="container">
            <div class="row charts">
                <div class="col-11 mt-5 disaster hide load-hidden" id="chart-disasters"></div>
                <div class="col-11 mt-5 disaster hide load-hidden" id="chart-death"></div>
                <div class="col-11 mt-5 disaster hide load-hidden" id="chart-displaced"></div>
                <div class="col-11 mt-5 disaster hide load-hidden" id="chart-cost"></div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12 text-white mt-5">
                    <div id="attr">
                        <h3>Attributions</h3>
                        <p>
                            <ul>
                                <li>The International Disaster Database (EM-DAT): <a href="https://www.emdat.be/emdat_db/" style="color: #ffffff">https://www.emdat.be/emdat_db/</a></li>
                                <li>National Centers for Environmental Information (NOAA): <a href="https://www.ngdc.noaa.gov/" style="color: #ffffff">https://www.ngdc.noaa.gov/</a></li>
                                <li>Redstapler: <a href="https://redstapler.co/three-js-realistic-rain-tutorial/" style="color: #ffffff">https://redstapler.co/three-js-realistic-rain-tutorial/</a></li>
                                <li>Webscraped: <a href="https://ourworldindata.org/ofdacred-international-disaster-data" style="color: #ffffff">https://ourworldindata.org/ofdacred-international-disaster-data</a></li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-white" id="footer"><hr id="hr-footer">Andrea, Elsa, Lei, Ovais</div>
    </div>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>
    <!-- API key -->
    <script src="{{ url_for('static', filename='js/config.js') }}"></script>
    <!-- app.js -->
    <script src="{{ url_for('static', filename='js/id_map.js') }}"></script>
    <script src="{{ url_for('static', filename='js/chart-show.js') }}"></script>  
    <script src="{{ url_for('static', filename='js/id_chart-disasters.js') }}"></script>
    <script src="{{ url_for('static', filename='js/id_chart-death.js') }}"></script>
    <script src="{{ url_for('static', filename='js/id_chart-displaced.js') }}"></script>
    <script src="{{ url_for('static', filename='js/id_chart-cost.js') }}"></script>
    <script src="{{ url_for('static', filename='js/anime.js') }}"></script> 
    <script src="{{ url_for('static', filename='js/chart-mouseclick.js') }}"></script>     
    </body>
</html>
